page-main-menu {
    .menuitem{
        text-align: center;
    }
    .menuimgButton{
        width: 90px;
        height: 90px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .menuimgButton h2{
        text-transform: none;
        color: #383838;
    }
}
