<ion-header>
  <ion-navbar color="_red">
    
    <ion-title>
      <button ion-button clear icon-only text-center>
        <img class="headerimg" src="assets/Images/Timeline/icons/whiteLogo.png"/>
      </button>
    </ion-title>

    <ion-buttons end class="headersidebuttons">
      <button ion-button color="light" (click)="presentPopover($event)" style="margin-left: -20px;">
        <img class="ImageCategory ImageAccount" [src]="imagesprovider.getAccountImagebyID(dbprovider.selectedAccount.imageindex)"/>
        <!--<ion-note color="light" style="max-width:50px; font-size: 14px; overflow: hidden;">{{dbprovider.selectedAccount.subject}}</ion-note>-->
        <ion-icon name="ios-arrow-down" style="margin-right: 3px;" class="mediumsmallicom"></ion-icon> 
      </button>
    </ion-buttons>

  </ion-navbar>
  
  <table style="width:100%; height: 40px;">
    <tr>
      <td style="width:25%;">
        <button style="float:right;" ion-button clear icon-only color="_black" (click)="PreviousMonth();">
          <ion-icon name="ios-arrow-back" ></ion-icon>
        </button>
      </td>
      <td style="width:50%; text-align: center;">
        <ion-label style="font-size: 20px;">{{shortdate}}</ion-label>
        <!--<ion-datetime style="font-size: 20px;" displayFormat="MMMM, YYYY" pickerFormat="MM/YYYY" [ngModel]="date" (ngModelChange)="onTimeChange($event)"></ion-datetime>-->
      </td>
      <td style="width:25%;">
        <button style="float:left;" ion-button clear icon-only color="_black" (click)="NextMonth();">
          <ion-icon name="ios-arrow-forward" ></ion-icon>
        </button>
      </td>
    </tr>
  </table>
</ion-header>
 <!--menuClose-->

<ion-content class="color_offwhite">

  <div class="fill100 borderBottom">

    <div style="height:61%; margin-top:2%;">
      <table class="fill100">
        <tr class="fill100">
          <td class="fill100">
            <ion-card color="_offwhite" style="height:100%;">
              <ion-card-content style=" margin:auto;">
                <canvas #doughnutCanvas class="donut"></canvas>
              </ion-card-content>
            </ion-card>
          </td>
        </tr>
      </table>
    </div>

    <div style="height:12%; ">
      <table class="fill100">
        <tr>
          <td class="categorytd" *ngFor="let categoryitem of monthlyCategoryList.slice(0,4)">
              <img class="img40by40" [src]="dbprovider.getCategoryImagebyCategoryID(categoryitem.category.id)"/>
              <p class="img40by40desc">{{categoryitem.Total | currency:'BRL':true:'1.2-2' | currencybrl}}</p>
          </td>
        </tr>
      </table>
    </div>

    <div style="height:12%;">
      <table class="fill100">
        <tr>
          <td class="categorytd" *ngFor="let categoryitem of monthlyCategoryList.slice(4,8)">
              <img class="img40by40" [src]="dbprovider.getCategoryImagebyCategoryID(categoryitem.category.id)"/>
              <p class="img40by40desc">{{categoryitem.Total | currency:'BRL':true:'1.2-2' | currencybrl}}</p>
          </td>
        </tr>
      </table>
    </div>
    <div style="height:12%; margin-bottom:1%;">
      <table class="fill100">
        <tr>
          <td class="categorytd" *ngFor="let categoryitem of monthlyCategoryList.slice(8,12)">
              <img class="img40by40" [src]="dbprovider.getCategoryImagebyCategoryID(categoryitem.category.id)"/>
              <p class="img40by40desc">{{categoryitem.Total | currency:'BRL':true:'1.2-2' | currencybrl}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <ion-card color="_offwhite" style="height:40%; width:100%; margin-top:10%;">
    <ion-card-content>
      <canvas #lineCanvas class="line"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>

