page-menu-panel {
    .scroll-content{
        padding: 0px;
    }
    h5{
        text-transform: none;
        color: #383838;
        font-size: 15px;
    }
    .toolbar-title{
        text-align: center;
    }


    .headerimg{
        margin-left: auto;
        margin-right:auto;
    }
    .headersidebuttons{
        width: 50px;
    }
    .ImageAccount{
        filter: brightness(0) invert(100%);
    }
    .ImageCategory{
        background-repeat: no-repeat;
        max-width: 39px;
        max-height: 30px;
        vertical-align: middle;
        margin-right: 1px;
    }

    .fill100{
        height:100%;
        width:100%;
    }
    .img40by40Container{
        width: 30px;
        margin: auto;
        vertical-align: middle;
        height: 100%;
    }
    .img40by40{
        max-width: 30px;
        max-height: 30px;
        margin: auto;
    }
    .img40by40desc{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 0.85em;
        color: map-get($colors, _darksilver);
    }
    .card{
        margin:0px;
        width:100%;
        box-shadow:none;
    }
    .card-content{
        padding:0px;
    }
    .card-header{
        padding:0px;
    }
    .categorytd{
        width:25%; 
        text-align: center;
    }
    canvas.donut {
        margin-left: 7.5% !important;
        margin-right: 7.5% !important;
        width:85% !important; 
        height:85% !important;
    }

}
