<ion-header >

  <ion-navbar [color]=" type == 1 ? '_green' : '_red' " >
      <button class="menuheaderbutton" ion-button clear icon-only  text-center left>
        <img class="headerimg" src="assets/Images/Timeline/icons/whiteLogo.png"/>
      </button>
      <button class="menuheaderbutton" style="float: right; margin-right:10px;" ion-button clear icon-only right>
        <img class="menuheaderbuttonimage" src="assets/Images/InOut/icons/03.png"/>
      </button>
  </ion-navbar>

</ion-header>

<ion-content padding class="color_offwhite">
 <div style="margin-left: 7%;" [ngClass]=" type == 1 ? 'margintop80percent' : '' ">
  <ion-row style="margin: auto; width: 275px;">
    <div [ngClass]=" category.type == type ? 'colcontainer' : ''" *ngFor=" let category of _categories; let i = index">
      <ion-col style="padding:5px;" *ngIf="category.type == type" >
        <div class="btnContainer" [ngClass]=" type == 1 ? 'greenborder' : 'redborder' " >
          <div [ngClass]="selectedCategoryid == category.id ? 'highlight' : '' ">
            <button class="imggbtn" ion-button clear icon-only (click)="updateSelection(i);" >
              <img class="imgg" [src]="type == 1 ? imageprovider.getCategoryRevenueImagebyID(category.imageindex) : imageprovider.getCategoryExpenseImagebyID(category.imageindex)" />
            </button>
          </div>
        </div>
      </ion-col>

    </div>
    
  </ion-row>
 </div>
</ion-content>

<ion-footer>
  <ion-toolbar text-center color="_offwhite">
    <button ion-button center class="borderButton" [ngClass]="type == 1 ? 'borderButtonGreen' : 'borderButtonRed' " (click)="saveEntry();">
      Save Entry
    </button>
  </ion-toolbar>
</ion-footer>
