<ion-list no-lines class="color_offwhite">

  <button ion-item id="Visa" color="_offwhite" (click)="VisaTapped();">
      <div class="btnitemImageCategory" item-left>
        <img class="itemImageCategory" src="assets/Images/Account/icons/10.png"/>
      </div>
      <ion-note color="_green" item-left>
        <h2 text-wrap>Visa</h2>
      </ion-note>
  </button>

  <button ion-item id="Cash" color="_offwhite" (click)="CashTapped();">
      <div class="btnitemImageCategory" item-left>
        <img class="itemImageCategory" src="assets/Images/Account/icons/02.png"/>
      </div>
      <ion-note color="_green" item-left>
        <h2 text-wrap>Dinheiro</h2>
      </ion-note>
  </button>

  <button ion-item id="All" color="_offwhite" (click)="AllTapped();">
      <div class="btnitemImageCategory" item-left>
        <img class="itemImageCategory" src="assets/Images/Account/icons/03.png"/>
      </div>
      <ion-note color="_green" item-left>
        <h2 text-wrap>Todos</h2>
      </ion-note>
  </button>

</ion-list>
