popover-account-select {
    .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
        border-color: #b11623;
        background-color: #b11623;
    }
    .btnitemImageCategory{
        width: 25px;
        height: 25px;
    }
    .itemImageCategory{
        background-repeat: no-repeat;
        max-width: 25px;
        max-height: 25px;
        vertical-align: middle;
    }
}
