
<ion-header>
  <ion-toolbar color="_red">
    <button ion-button menuToggle class="headersidebuttons">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <button ion-button clear icon-only text-center>
        <img class="headerimg" src="assets/Images/Timeline/icons/whiteLogo.png"/>
      </button>
    </ion-title>

    <ion-buttons end class="headersidebuttons">
      <button ion-button color="light" (click)="presentPopover($event)" style="margin-left: -20px;">
        <img class="ImageCategory ImageAccount" [src]="imagesprovider.getAccountImagebyID(dbprovider.selectedAccount.imageindex)"/>
        <!--<ion-note color="light" style="max-width:50px; font-size: 14px; overflow: hidden;">{{dbprovider.selectedAccount.subject}}</ion-note>-->
        <ion-icon name="ios-arrow-down" style="margin-right: 3px;" class="mediumsmallicom"></ion-icon> 
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding class="color_offwhite padding5">

    <ion-list no-lines >
      <ion-item-group no-lines *ngFor="let amountEntryGroup of (dbprovider.amountEntries | groupamountentriesbydate:dbprovider.selectedAccount.id)">
        <ion-item-divider light class="listgroupheading">
          <!--<div class="listgroupheadingbackline"></div> Problem in Android-->
          <ion-note small color="_black" class="listgroupheadingnote">
            {{ amountEntryGroup.date.toDateString() }}
          </ion-note>

        </ion-item-divider>

        <ion-item-sliding *ngFor="let amountEntry of amountEntryGroup.AccountEntries ; let i = index">
            <ion-item class="timelineItem" color="_offwhite">
                <div item-left>
                  <button ion-button clear icon-only color="_black">
                    <ion-icon name="ios-arrow-down" class="mediumsmallicom"></ion-icon>
                  </button>
                    <img class="itemImageCategory" [src]="dbprovider.getCategoryImagebyCategoryID(amountEntry.categoryID)"/>
                </div>
                <h2>{{dbprovider.getCategorySubjectbyCategoryID(amountEntry.categoryID)}}</h2>
                <ion-note style="margin: 0px;" item-right [color]="amountEntry.type == 1 ? '_green' : '_red'">
                  <h2 text-wrap class="nospacebreak">{{amountEntry.price | currency:'BRL':true:'1.2-2' | currencybrl}}</h2>
                </ion-note>
            </ion-item>
            <ion-item-options >
                <button class="red_itemOption" (click)="delete(amountEntry.id)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>

      </ion-item-group>
    </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar text-center color="_offwhite">

    <button ion-button class="balance autoFont nodefaultuppercase" [color]=" dbprovider.balance >= 0 ? '_green' : '_red'">
      Saldo {{ dbprovider.balance | currency:'BRL':true:'1.2-2' | currencybrl }}
    </button>

  </ion-toolbar>
  <ion-toolbar text-center color="_offwhite">

    <button class="btnfooterimg" (click)="goto_addrevenue();" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/08.png"/>
    </button>
    <button class="btnfooterimg" (click)="goto_addexpense();" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/07.png"/>
    </button>
    <button class="btnfooterimg" (click)="goto_transfer();" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/11.png"/>
    </button>
    <button class="btnfooterimg" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/09.png"/>
    </button>

  </ion-toolbar>
</ion-footer>