
<ion-header>
  <ion-toolbar color="_red">
    <button ion-button menuToggle class="headersidebuttons">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      <button ion-button clear icon-only text-center>
        <img class="headerimg" src="assets/Images/Timeline/icons/whiteLogo.png"/>
      </button>
    </ion-title>

    <ion-buttons end class="headersidebuttons">
      <button ion-button color="light" (click)="presentPopover($event)" style="margin-left: -20px;">
        <img class="ImageCategory ImageAccount" [src]="imagesprovider.getAccountImagebyID(dbprovider.selectedAccount.imageindex)"/>
        <!--<ion-note color="light" style="max-width:50px; font-size: 14px; overflow: hidden;">{{dbprovider.selectedAccount.subject}}</ion-note>-->
        <ion-icon name="ios-arrow-down" style="margin-right: 3px;" class="mediumsmallicom"></ion-icon> 
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding class="color_offwhite">

    <ion-list no-lines >
      <ion-item-group no-lines *ngFor="let dateGroup of dbprovider.amountEntriesGroupsAndSubgroups">
        <div *ngIf="isfilterdateActive ? ( dateGroup.date.getDate() == filterdateRaw.getDate() && dateGroup.date.getMonth() == filterdateRaw.getMonth() && dateGroup.date.getFullYear() == filterdateRaw.getFullYear() ) : true">
          <ion-item-divider light class="listgroupheading">
            <!--<div class="listgroupheadingbackline"></div> Problem in Android-->
            <ion-note small color="_black" class="listgroupheadingnote">
              {{ getDateinPortugese(dateGroup.date)}}
            </ion-note>

          </ion-item-divider>

          <ion-item *ngFor="let categorySubGroup of dateGroup.CategoryGroups ;">

              <ion-item class="height30" color="_offwhite">
                  <div item-left>
                    <button ion-button clear icon-only color="_black" (click)="toggleSubGroupVisibility(dateGroup.groupid, categorySubGroup.subgroupid);">
                      <ion-icon [name]="categorySubGroup.isvisible == false ? 'ios-arrow-down' : 'ios-arrow-up'" class="mediumsmallicom"></ion-icon>
                    </button>
                    <div class="btnitemImageCategory">
                      <img class="itemImageCategory" [src]="dbprovider.getCategoryImagebyCategoryID(categorySubGroup.subgroupCategoryID)"/>
                    </div>
                  </div>
                  <div>
                    <h5 style="display: inline-block; font-size: 1.6rem;">{{dbprovider.getCategorySubjectbyCategoryID(categorySubGroup.subgroupCategoryID)}}</h5>
                    <div [ngClass]="categorySubGroup.subgrouptype == 1 ? 'backgroundColorGreen' : 'backgroundColorRed' " style="padding: 0px 5px; display: inline-block; border-radius:9px; font-size: 14px; color:white;">
                      <div>{{categorySubGroup.CategoryEntries.length}}</div>
                    </div>
                  </div>
                  <ion-note style="margin: 0px;" item-right [color]="categorySubGroup.subgrouptype == 1 ? '_green' : '_red'">
                    <h5 text-wrap class="nospacebreak" style="font-size: 1.6rem;">{{categorySubGroup.subgroupTotal.value | currency:'BRL':true:'1.2-2' | currencybrl}}</h5>
                  </ion-note>
              </ion-item>

              <div *ngIf="categorySubGroup.isvisible == true">
                <ion-item-sliding style="height: 30px;" *ngFor="let ammountEntry of categorySubGroup.CategoryEntries ;">
                    <ion-item class="height25" style="margin-top: -8px;" color="_offwhite">
                        <div item-left style="margin-left:35px;">
                            <img class="itemImageSubGroupCategory" [src]="ammountEntry.type == 1 ? 'assets/Images/Timeline/icons/Positivo.png' : 'assets/Images/Timeline/icons/Negativo.png'"/>
                        </div>
                        <!--item-right-->
                        <h5 text-wrap class="nospacebreak" style="font-size:15px; margin-left: 1px; margin-top: 0px;" [ngClass]="ammountEntry.type == 1 ? 'colorGreen' : 'colorRed' ">{{ammountEntry.price | currency:'BRL':true:'1.2-2' | currencybrl}}</h5>
                    </ion-item>
                    <ion-item-options *ngIf="ammountEntry.issystem == false">
                        <button class="red_itemOption" (click)="delete(ammountEntry.id)">
                            <ion-icon name="trash"></ion-icon>
                            <!--Delete-->
                            Excluir
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
              </div>

          </ion-item>
        </div>
      </ion-item-group>
    </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar text-center color="_offwhite">

    <button ion-button class="balance autoFont nodefaultuppercase" [color]=" dbprovider.balance >= 0 ? '_green' : '_red'">
      <h6 style="font-size: 1.8rem;">Saldo {{ dbprovider.balance | currency:'BRL':true:'1.2-2' | currencybrl }}</h6>
    </button>

  </ion-toolbar>
  <ion-toolbar text-center color="_offwhite">

    <button class="btnfooterimg" (click)="goto_addrevenue();" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/08.png"/>
    </button>
    <button class="btnfooterimg" (click)="goto_addexpense();" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/07.png"/>
    </button>
    <button class="btnfooterimg" (click)="goto_transfer();" ion-button clear icon-only>
      <img src="assets/Images/Timeline/icons/11.png"/>
    </button>
    <button id="Calender" class="btnfooterimg colorRed" ion-button clear icon-only right (click)="showDatePicker();"
            style="margin-right:10px; background-image: url('assets/Images/Timeline/icons/09.png');  background-size: cover;">
            <h5 style="margin-top: 30%; font-size: 2.8rem; font-weight: bolder;">{{filterdate}}</h5>
      <!--<ion-datetime style="margin-top: 10px;" displayFormat="DD" pickerFormat="DD/MM/YYYY" [ngModel]="filterdate" (ngModelChange)="onfilterdateChange($event);" ></ion-datetime>-->
    </button>

  </ion-toolbar>
</ion-footer>