page-timeline {
    //cores
    .label-ios{
        margin: 0px;
    }
    .scroll-content{
    padding: 0px !important;
    }
    .label-md{
        margin:0px;
    }
    .item-md{
        padding-left: 5px !important;
    }

    //Others
    .headerimg{
        margin-left: auto;
        margin-right:auto;
    }
    .headersidebuttons{
        width: 50px;
    }
    .ImageAccount{
        filter: brightness(0) invert(100%);
    }
    .ImageCategory{
        background-repeat: no-repeat;
        max-width: 39px;
        max-height: 30px;
        vertical-align: middle;
        margin-right: 1px;
    }
    .btnitemImageCategory{
        text-align: center;
        display: inline-block;
        width: 30px;
        height: 30px;
     }
    .itemImageCategory{
        display: inline-block;
        background-repeat: no-repeat;
        max-width: 30px;
        max-height: 30px;
        vertical-align: middle;
    }
    .itemImageSubGroupCategory{
            background-repeat: no-repeat;
            max-width: 20px;
            max-height: 20px;
            vertical-align: top;
        }
    .btnfooterimg{
        width: 60px;
        height: 60px;
        margin-left: 7px;
        margin-right: 7px;
        text-align: center;
    }
    .mediumsmallicom{
        padding: 2px;
    }
    .item-ios{
        padding-left: 2px;
    }
    .height30{
        height: 30px;
    }
    .height25{
        height: 25px;
    }
    .listgroupheading{
        border-style: none;
        text-align: center;
        height: 30px;
    }
    .listgroupheadingbackline{
        position: fixed;
        top: 0;
        height: 50%;
        width: 80%;
        left: 10%;
        right: 10%;
        background: transparent;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 2px;
        border-style: solid;
        z-index: -1;
    }
    .listgroupheadingnote{
        padding-left: 5px;
        padding-right: 5px;
        background-color: #e8e8e8;
        font-size: 14px;
        vertical-align: text-top;
    }
    .balance{
        width: 250px;
        height: 50px;
        font-size: larger;
        
    }
    .autoFont{  //auto resize font for balance
        //font-size: 4vi;
    }
    .maxWidth150{
        max-width: 150px;
    }
}



//Ios specific
.ios {
    page-timeline{

    }
}
//Android Specific
.md {
    page-timeline{
        .toolbar-title{
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    }
}