page-timeline {
    .footerimg{
        background-repeat: no-repeat;
        max-width: 36px;
        max-height: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    .itemImageCategory{
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }
    .itemPrice{
        white-space: nowrap;
    }
    .color_white{
        background: #e8e8e8;
    }
    .mediumsmallicom{
        padding: 2px;
    }
    .item-ios{
        padding-left: 2px;
    }
}
//Ios specific
.ios {
    page-timeline{
        .headerimg{
            margin-left: auto;
            margin-right:auto;
        }
        .headerselect{
            float:right;
            font-size: 18px;
            color: white;
        }
    }
}
//Android Specific
.md {
    page-timeline{
        .headerimg{
            //try to center
            margin-left: auto;
            margin-right:auto;
        }
        .headerselect{
            float:right;
            font-size: 18px;
            margin-top: -30px;
            color: white;
        }
    }
}