page-timeline {
    .btnfooterimg{
        width: 45px;
        height: 45px;
        margin-left: 7px;
        margin-right: 7px;
        text-align: center;
    }
    .itemImageCategory{
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }
    .itemPrice{
        white-space: nowrap;
    }
    .mediumsmallicom{
        padding: 2px;
    }
    .item-ios{
        padding-left: 2px;
    }
    .width180{
        width: 180px;
    }
    .autoFont{
        //font-size: 4vi;
    }
    .maxWidth150{
        max-width: 150px;
    }
    .headerimg{
    margin-left: auto;
     margin-right:auto;
    }
}
//Ios specific
.ios {
    page-timeline{
        .headerselect{
            float:right;
            font-size: 18px;
            margin-top: -5px;
            color: white;
        }
    }
}
//Android Specific
.md {
    page-timeline{
        .headerselect{
            float:right;
            font-size: 18px;
            margin-top: -45px;
            color: white;
        }
        .toolbar-title{
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    }
}