// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'AgencyFB'; /*a name to be used later*/
    src: url('assets/fonts/Agency FB.ttf'); /*URL to font*/
}

ion-note, ion-input, [ion-button], ion-datetime, ion-label, h5, h6, p{
    font-family: 'AgenxyFB';
    text-transform: none;
}


//Cores
ion-datetime {
    position: relative; //Fix for Whole page button
}
.input-cover {  //Keyboard fix for android
    position: static;
}
.item{
    background: map-get($colors, _offwhite);
}
.nospacebreak{
        white-space: nowrap;
    }
.color_offwhite{
        background: map-get($colors, _offwhite);
    }
.red_itemOption{
        background: map-get($colors, _red);
        color: map-get($colors, _white);
    }
.nodefaultuppercase{
        text-transform: none;
    }

//Specials
.headerimg{
    // background-repeat: no-repeat;
     max-width: 40px;
     max-height: 40px;
     margin-top: 3px;
    // margin-bottom: 10px;
    }
.menuimg{
        max-width: 70px;
        max-height: 70px;
        margin-left: auto;
        margin-right: auto;
    }


//Border Button Style
    .backgroundColorRed{
        background-color: map-get($colors, _red);
    }
    .backgroundColorGreen{
        background-color: map-get($colors, _green);
    }
    .backgroundColorBlue{
        background-color: map-get($colors, _blue);
    }
    .colorRed{
        color: map-get($colors, _red);
    }
    .colorGreen{
        color: map-get($colors, _green);
    }
    .colorBlue{
        color: map-get($colors, _blue);
    }
    .greenborder{
        border-color: map-get($colors, _green) !important;
    }
    .redborder{
        border-color: map-get($colors, _red) !important;
    }
    .blueborder{
        border-color: map-get($colors, _blue) !important;
    }
    .borderButton{
        width: 270px;
        height: 50px;
        text-transform: none;
        background-color: transparent;
        border-left: 2px solid;
        border-bottom: 2px solid;
        font-size: 18px;
        border-radius: 0px;
    }


//Platform specifics
.ios {
    .menuheaderbutton{
        max-width: 40px;
        max-height: 40px;
        margin-top:-8px;
    }
    .menuheaderbuttonimage{
        margin-bottom:-6px;
    }
}
//Android Specific
.md {
    .menuheaderbutton{
        max-width: 40px;
        max-height: 40px;
        margin-top: 3px;
    }
}