page-menu-accounts {
    .fill100{
        width : 100%;
    }
    h5{
        text-transform: none;
        color: #383838;
        font-size: 15px;
    }
    .leftcol{
        width : 15%;
        margin-left: 5%;
    }
    .rightcol{
        width : 80%;
        text-align: left;
    }
    .rowimagecontainer{
        width:30px; 
        height:30px; 
        text-align: center;
    }
    .rowimg{
        max-width : 30px;
        max-height : 30px;
        vertical-align: middle;
    }

    .rowtitle{
        font-size: 12px;
        font-weight: bolder;
        color : #383838;
        margin-left: 15px;
    }
    .rowdetail{
        font-size: 12px;
        color :#383838;
        margin-left: 15px;
        margin-top:0px;
        margin-right:0px;
        margin-bottom:0px;
    }
    .verticalcenter{
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }
    .rowbutton{
        height:30px;
        margin-top: 5px;
    }
    .row{
        height:30px;
    }

    .headingleft{
        width : 80%;
        text-align: left;
        vertical-align: middle;
    }
    .headingright{
        width : 20%;
        text-align: center;
    }
    .headingbutton{
        max-height: 14px;
        max-width: 14px;
    }


    //Ios specific
    .ios {
        page-menu-accounts{
            .iosbold{
                font-weight: bolder;    //check working
            }
        }
    }
}
