page-menu-categories {
    .fill100{
        width : 100%;
    }
    h5{
        text-transform: none;
        color: #383838;
        font-size: 15px;
    }
    .leftspacer{
        width : 5%;
    }
    .leftcol{
        width : 20%;
        margin: auto;
    }
    .rightcol{
        width : 75%;
        text-align: left;
    }
    .rowimagecontainer{
        width:23px; 
        height:23px; 
        text-align: center;
    }
    .rowimg{
        max-width : 23px;
        max-height : 23px;
        vertical-align: middle;
    }

    .rowtitle{
        font-size: 13px;
        font-weight: bolder;
    }
    .verticalcenter{
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }
    .rowbutton{
        height:30px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 3px;
    }
    .row{
        height:30px;
    }

    .headingleft{
        width : 80%;
        text-align: left;
        vertical-align: middle;
    }
    .headingright{
        width : 20%;
        text-align: center;
    }
    .headingbutton{
        max-height: 20px;
        //max-width: 20px;
    }


    //Ios specific
    .ios {
        page-menu-categories{
            .iosbold{
                font-weight: bolder;    //check working
            }
        }
    }
}
