<ion-header>
  <ion-navbar color="_red">
    <button class="menuheaderbutton" style="float: right;" ion-button clear icon-only right>
      <img class="menuheaderbuttonimage" src="assets/Images/Timeline/icons/whiteLogo.png"/>
    </button>
  </ion-navbar>
</ion-header>
 <!--menuClose-->

<ion-content class="color_offwhite" >

  <ion-list no-padding no-lines no-margin>

    <ion-item>
        <ion-thumbnail text-wrap>
          <img class="menuimg" src="assets/Images/Timeline/icons/003-office-material.png">
           <h2 text-center>Categorias</h2>
        </ion-thumbnail>
    </ion-item>




    <table class="fill100">



      <thead style="background-color: #bebebe;">
        <tr class="verticalcenter" style="height:28px;">
          <th class="headingleft">
            <div style="margin-left: 15%;">Despesas</div>
          </th>
          <th class="headingright">
            <button ion-button clear icon-only class="headingbutton">
              <ion-icon color="_black" class="iosbold" name="add"></ion-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody *ngFor="let Revcategory of dbprovider.categories; let i = index">
        <tr class="row verticalcenter"  *ngIf="Revcategory.type == 2">
            <td class="leftcol">
              <div class="rowimagecontainer">
                <img class="rowimg " [src]="imageprovider.getCategoryExpenseImagebyID(Revcategory.imageindex)"/>
              </div>
            </td>
            <td class="rightcol verticalcenter">
              <h3 class="rowtitle verticalcenter {{Revcategory.type == 1 ? 'colorGreen' : 'colorRed'}}">{{Revcategory.subject}}</h3>
            </td>
        </tr>
      </tbody>


      <thead style="background-color: #bebebe;">
        <tr class="verticalcenter" style="height:28px;">
          <th class="headingleft">
            <div style="margin-left: 15%;">Rendimentos</div>
          </th>
          <th class="headingright">
            <button ion-button clear icon-only class="headingbutton">
              <ion-icon color="_black" class="iosbold" name="add"></ion-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody *ngFor="let Revcategory of dbprovider.categories; let i = index">
        <tr class="row verticalcenter" *ngIf="Revcategory.type == 1">
            <td class="leftcol">
              <div class="rowimagecontainer">
                <img class="rowimg " [src]="imageprovider.getCategoryRevenueImagebyID(Revcategory.imageindex)"/>
              </div>
            </td>
            <td class="rightcol verticalcenter">
              <h3 class="rowtitle verticalcenter {{Revcategory.type == 1 ? 'colorGreen' : 'colorRed'}}">{{Revcategory.subject}}</h3>
            </td>
        </tr>
      </tbody>
      

    </table>
    
  </ion-list>

</ion-content>
